
@import '../../Styles/Breakpoint.scss';
@import "../../global.scss";
  // @include media("<=1560px") {}
  // @include media("<=desktop") {}
  // @include media("<=1080px") {}
  // @include media("<=phone") {}
  // @include media("<=tablet") {}

[data-file="no-file"]{
  --fileupload-content:'You can also drag \00000a item here to upload';
  
}
[data-file="file"]{
  --fileupload-content:'';
  
}

.fileUpload{
  display: grid; 
  padding:60px;
  grid-template-columns:100%;
  justify-self: start;
  grid-template-rows:62px 227px 99px;
  @include media("<=tablet") {
    grid-template-columns:100%;
    margin: 0;
    padding: 10px 34px;
    grid-template-rows:107px 70px 137px;
  }
  .input-pdfname-box
  {
    align-self: end;
    width:100%;
  }
  div:nth-child(1) input {
    background: none;
    font-size: 18px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    color: #fff;
    margin-bottom: 4vh;
    z-index:2;
    width:100%;
    margin-left: 0px;
    @include media("<=tablet") {    
    }
  }
  .FileDropOverlay
  {
    grid-column: 1;
    grid-row: 2;
    display: grid; 
    background-color: #67bdf175;
    justify-content: center;
    align-content: center;
    color: #366891;
    font-size: 1.5em;
    font-weight: 700;

    @include media("<=tablet") {
      // width: 82vw;
    }
  }
  
  .item-drop-box{
    grid-column: 1;
    grid-row: 2;
    padding:0px;
    position: relative;
    
    

  
  #item-drop::-webkit-file-upload-button {
    visibility:hidden;
    @include media("<=tablet")
    {
      justify-self: center;
      position: absolute;
      background-image:url('../../assets/xdassets/SelectFileIcon.svg') ;  
      background-size:4em;
      background-position: top;
      background-repeat: no-repeat;
      visibility: visible;
      top:14%;
      margin:10px auto;
      background-color:transparent;
      color: transparent;
      border:none;
      height:100px;    
    }
  }
  #item-drop {
    
    
    outline: 1px dashed #fff;
    height: 100%;
    width: 100%;
    color: transparent;
    @include media("<=tablet") {
      width:100%;
      color:black;
      height: 100px;
      outline:none;
    }
  }
  #item-drop::before
    {
    
    display: grid;
    cursor: pointer;
    text-align: center;
    color: white;
    -ms-flex-line-pack: center;
    white-space: pre;
    align-content: center;
    height: 100%;
    letter-spacing: 1.5px;
    @include media("<=tablet")
    {
      content:'';
    }
  }
  #item-drop::after
  {
      content: '';
      display: inline-block;
      cursor: pointer;
  }
  }

   
}
.file-fileUpload{
  grid-area:files;
  background-color: white;
  border-radius:10px;
  display:grid;
  grid-template-areas:    "file-header"
                          "file-rows";
  grid-template-rows: 40px auto;
}


.form-inline input:focus {
  outline: none;
}
.form-inline input::-webkit-input-placeholder {
  color: #fff;
}
.form-inline input:-ms-input-placeholder {
  color: #fff;
}
.form-inline input::-ms-input-placeholder {
  color: #fff;
}
.form-inline input::placeholder {
  color: #fff;
}
.upload-pdf{
  display:grid;
}
.upload-pdf button
{
    background: none;
    border: none;
    background-color: #3b9eda8c;
    justify-self: center;
    padding: 8px 25px;
    align-self: center;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
}
.upload-pdf button:focus
{
 outline:none;
}
.upload-pdf button:hover
{
 background-color:#2391ea;
}


