fnc/functions/node_modules/
dashbored/.env.staging
dashbored/.env.production
dashbored/.env
fnc/r.bat
dashbored/firebase-debug.log
dashbored/src/dashbrd-152dc-392b81a3c960.json

.env
.env.production
.env.staging
