// @import url("https://use.typekit.net/iiq8orb.css");
@import './Styles/Breakpoint.scss';
@import "./global.scss";


body{
  background-color:#0091EA;
  background: #0091EA url("./assets/bkcloud.svg");
  background-repeat: no-repeat;
  background-size:auto;
  background-position: -500px -405px;
  padding: 2vh 3vw;
}


.Sender-Render {
  display:grid;
  
  grid-template-rows:  16vh 80vh;
  grid-template-columns:100%;
  // grid-template-areas: 'Sender-Component'
  //                       'Dashbrd';
  
    
  @include media("<=phone") {
    grid-template-columns:100%;
  }

  // @include media("<=1560px") {}
  // @include media("<=desktop") {}
  // @include media("<=1080px") {}
  // @include media("<=phone") {}
  // @include media("<=tablet") {}


  // .Dashbrd{
  //   grid-area:Dashbrd;
  // }
  .Logo-Section {
    display: grid;
    align-self: center;  
    grid-template-columns: 200px auto 200px;
  
    @include media("<=tablet")
    {
      grid-template-columns:170px auto 98px;
      grid-template-columns: 170px auto 98px;
      background-color: #0087da;
      color: black;
      padding: 22px;
      border-radius: 17px;
    }
  
    #InCog{
      display: grid;
      grid-column: 3;
      justify-content: end;
      @include media("<=tablet")
      {
        grid-template-rows: 60px 30px;
        padding-top: 11px
      }
      button{
        justify-self: center;
      }
    }
  
    img:nth-child(1) {
      width: 100%;
      justify-self: start;
      @include media("<=phone") {
        width: 100%;
        justify-self: center;
      }
    }
    img:nth-child(2) {
      width: 13%;
      height: 22%;
    }
  }
  
  .LoggedOut
  {
    height:100vh;
    width:100vw;
    display:grid;
  
    background-color:#0091EA;
    background: #0091EA url("./assets/bkcloud.svg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: -500px -405px;
      
    @include media("<=phone") {
      background: #0091EA url("./assets/bkcloud.svg");
      grid-template-rows:none;
      background-position:-500px -405px;
      background-color:#0091EA;
      background-size:auto;
      background-repeat: no-repeat;
    }
  }
  
  .LoginForm
  {
    justify-self: center;
  }
  
  
  .LoggedOut > .Logo-Section{
    display:grid;
    justify-self:center;
    -ms-flex-item-align: center;
    align-self: center;
        margin-left: 0px;
    grid-template-rows: 136px;
  
  }
  .LoggedOut img {
    width: 100%;
    justify-self: start;
   
    @include media("<=phone") {
      width: 50%;
      justify-self: center;
    }
  }
  
  .logout{
    width: 50px;
    height: 50px;
    grid-column: 3;
    justify-self: center;
    align-self: center;
  }

}


