@import url("https://use.typekit.net/iiq8orb.css");

.Sender-Render {
  background-color: #0091EA;
  width: 100vw;
  height: 100vh;
  background: #0091EA url("./assets/bkcloud.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -500px -405px;

}

.Logo-Section {
  padding-top: 4vw;
  padding-left: 10vh; 
  margin-bottom: 8vh;;
}

