[data-theme="web-large"]
{
  --fileUpload-margin: 6%;
  --fileUpload-padding: 6%;
  --fileUpload-grid-template-columns: 100%;
  --fileUpload-div-nth-child2-padding:0px;
  --fileUpload-div-nth-child1-margin-left: 0px;
  --fileUpload-div-nth-child1-item-drop-width:400px;
  --item-drop-width:400px;
}

[data-theme="mobile"]
{
  --fileUpload-margin: 0%;
  --fileUpload-padding: 0%;
  --fileUpload-grid-template-columns: 100vw;
  --fileUpload-div-nth-child1-item-drop-width:77vw;
  --item-drop-width:82vw;
  --fileUpload-div-nth-child1-padding:10px 10px;
  --fileUpload-div-nth-child2-padding:0px 7vw;

  --fileUpload-div-nth-child1-margin-left: 7vw;
}

[data-file="no-file"]{
  --fileupload-content:'You can also drag \00000a item here to upload'
}
[data-file="file"]{
  --fileupload-content:''
}
.fileUpload div:nth-child(2){
  padding:var(--fileUpload-div-nth-child2-padding);
}
.fileUpload{
  display: grid;

  grid-template-columns:var(--fileUpload-grid-template-columns);
  justify-self: center;
  grid-template-rows: 50px 237px 46px;
  margin: var(--fileUpload-margin);
  padding: var(--fileUpload-padding);
}
.file-fileUpload{
  grid-area:files;
  background-color: white;
  margin:6%;
  padding:6%;
  border-radius:10px;
  display:grid;
  grid-template-areas:    "file-header"
                          "file-rows";
                          grid-template-rows: 40px auto;

}

.form-inline  div:nth-child(1) input {
    background: none;
    font-size: 18px;
    padding: var(--fileUpload-div-nth-child1-padding);
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    color: #fff;
    margin-bottom: 4vh;
    z-index:2;
    width:var(--fileUpload-div-nth-child1-item-drop-width);
    margin-left: var(--fileUpload-div-nth-child1-margin-left)


  }

  .FileDropOverlay
  {
    display: grid;
    position: absolute;
    height: 200px;
    width: var(--item-drop-width);
    margin-top: 51px;
    background-color: #67bdf175;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #366891;
    font-size: 1.5em;
    font-weight: 700;
  }

  .form-inline input:focus {
    outline: none;
  }

  .form-inline input::-webkit-input-placeholder {
    color: #fff;
  }

  .form-inline input:-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::placeholder {
    color: #fff;
  }
  #item-drop::-webkit-file-upload-button {
    visibility: hidden;
  }

  #item-drop {
    position:absolute;
      outline: 1px dashed #fff;
      height: 200px;
      width: var(--item-drop-width);

      color: transparent;


  }
  #item-drop::before
   {
   // content: 'You can also drag \00000a item here to upload';
    content: var(--fileupload-content);
    display: grid;
    cursor: pointer;
    text-align: center;
    color: white;
    -ms-flex-line-pack: center;
    white-space: pre;
    align-content: center;
    height: 100%;
    letter-spacing: 1.5px;
  }
  #item-drop::after
  {
     content: '';
     display: inline-block;
     cursor: pointer;
 }
  .upload-pdf{
    display:grid;
  }
.upload-pdf button
{
    background: none;
    border: none;
    background-color: #3b9eda8c;
    justify-self: center;
    padding: 8px 25px;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
}
.upload-pdf button:focus
{
 outline:none;
}
.upload-pdf button:hover
{
 background-color:#2391ea;
}


