.fileUpload{
  display: grid;
  width: 76%;
  grid-template-columns: 100%;
  justify-self: center;
  grid-template-rows: 50px 237px 46px;
  margin: 6%;
  padding: 6%;
}
.file-fileUpload{
  grid-area:files;
  background-color: white;
  margin:6%;
  padding:6%;
  border-radius:10px;
  display:grid;
  grid-template-areas:    "file-header"
                          "file-rows";
                          grid-template-rows: 40px auto;

}

.form-inline  div input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    color: #fff;
    margin-bottom: 4vh;
    z-index:2;
    width: 400px;
  }

  .FileDropOverlay
  {
    display: grid;
    position: absolute;
    height: 219px;
    width: 414px;
    margin-top: 51px;
    background-color: #67bdf175;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: end;
    color: #366891;
    font-size: 1.5em;
    font-weight: 700;
  }

  .form-inline input:focus {
    outline: none;
  }

  .form-inline input::-webkit-input-placeholder {
    color: #fff;
  }

  .form-inline input:-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::placeholder {
    color: #fff;
  }
  #item-drop::-webkit-file-upload-button {
    visibility: hidden;
  }

  #item-drop {
    position:absolute;
      outline: 1px dashed #fff;
      height: 200px;
      width: 400px;
      color: transparent;


  }
  #item-drop::before
   {
    content: 'You can also drag \00000a item here to upload';
    display: grid;
    cursor: pointer;
    text-align: center;
    color: white;
    -ms-flex-line-pack: center;
    /* align-self: center; */
    white-space: pre;
    align-content: center;
    height: 100%;
    letter-spacing: 1.5px;
  }
  #item-drop::after
  {
     content: '';
     display: inline-block;
     cursor: pointer;
 }
  .upload-pdf{
    display:grid;
  }
.upload-pdf button
{
    background: none;
    border: none;
    background-color: #3b9eda8c;
    justify-self: center;
    padding: 8px 25px;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
}
.upload-pdf button:focus
{
 outline:none;
}
.upload-pdf button:hover
{
 background-color:#2391ea;
}


