// .FileUpload {
//   grid-area: fileUpload;
//   outline: 1px dashed blue;
//   display: grid;
//   padding: 4% 20%;
// }



.fileUpload{
  display: grid;
  width: 76%;
  grid-template-columns: 100%;
  justify-self: center;
  grid-template-rows: 50px 237px 46px;
  margin: 6%;
  padding: 6%;
}


.file-fileUpload{
  grid-area:files;
  // outline:1px dashed blue;

  background-color: white;
  margin:6%;
  padding:6%;
  border-radius:10px;

  display:grid;
  grid-template-areas:    "file-header"
                          "file-rows";
                          grid-template-rows: 40px auto;

}

.form-inline  div input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    color: #fff;
    margin-bottom: 4vh;


    z-index:2;
  }

  .FileDropOverlay
  {
    display: grid;
    position: absolute;
    height: 219px;
    width: 414px;
    margin-top: 51px;
    background-color: #67bdf175;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #366891;
    font-size: 1.5em;
    font-weight: 700;

  }

  .form-inline input:focus {
    outline: none;
  }

  .form-inline input::-webkit-input-placeholder {
    color: #fff;
  }

  .form-inline input:-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::-ms-input-placeholder {
    color: #fff;
  }

  .form-inline input::placeholder {
    color: #fff;
  }

  #item-drop {
    position:absolute;
      outline: 1px dashed #fff;
      height: 200px;
      width: 400px;
      text-indent: -999em;


  }
  .upload-pdf{
    display:grid;
  }
.upload-pdf button
{
  background: none;
    border: none;
    background-color: #7fc9f566;
    justify-self: center;
    padding: 14px 31px;
    border-radius: 6px;
}


