
@import '../../Styles/Breakpoint.scss';
@import "../../global.scss";
.HeaderInCog{
    font-size:35px;
}
.Greetings{
    padding: 10px 0px;
    color: white;
    font-weight: 600;

    @include media("<=tablet")
    {
        color: black;
    }

}