
.Settings{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 13px;
    grid-template-rows: 33px 50px 50px;
    grid-template-columns: 300px;
}
.Logoutbox
{
    align-self: end;    
    justify-self:end;
}

input[name="fullname"]
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #69b4f0;
    color: white;
    font-size: 15px;
    font-weight: 600;
}