@import '../../Styles/Breakpoint.scss';
@import "../../global.scss";
  // @include media("<=1560px") {}
  // @include media("<=desktop") {}
  // @include media("<=1080px") {}
  // @include media("<=phone") {}
  // @include media("<=tablet") {}
.MoreRecipientsNumber
{
    position: relative;
    top:2px;
    color:#1e72e0;    
    padding:2px 6px;
    background-color: #ececec;
    border-radius: 10px;
    align-self: center;
}
.MoreRecipientsNumber:hover
{
    
    color:white;        
    background-color: #4d4d4d;
    cursor:pointer;
}